<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta charset="utf-8">
		<title>微信公众平台管理系统</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/global.css" media="all">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/frame.css" media="all">
		<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.7.2.min.js"></script>


	</head>
	<body>
<script language="javascript">$(document).ready(frame_obj.search_form_init);</script>
		<div id="iframe_page">
			<div class="iframe_content">
				<link rel="stylesheet" type="text/css" href="__PUBLIC__/Member/css/hotel.css" media="all">
				<script type="text/javascript" src="__PUBLIC__/Member/js/hotel.js"></script>
